<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'workload_capacity', :plugin => 'redmine_workload_capacity' %>
    <%= javascript_include_tag 'index', :plugin => "redmine_workload_capacity" %>
<% end %>

<h2>Add a Custom Project Allocation for <%= @user.name %> (Project Window from <%= format_date(@project.wl_project_window.start_date) %> to <%= format_date(@project.wl_project_window.end_date) %>)</h2>
<%= render 'form', :user => @user, :project => @project, :custom_allocation => @custom_allocation, :custom_project_window_list => @custom_project_window_list %>

