
<table class="list">
	<thead>
		<tr>
			<th>User</th>
			<th>Project Allocation %</th>
			<th>Allocation Type</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Total Allocation %</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<% project.wl_members.each do |member| %>
		<% if member.wl_project_allocation? %>
			<% total_alloc = member.wl_global_table_allocation %>
			<% remaining_alloc = member.wl_remaining_table_allocation %>
			<% project_alloc = member.wl_table_allocation %>

			<tr class="<%= cycle("odd", "even") %>" style="font-weight: bold;">
				<td><%= member.user.name %></td>
				<td colspan="6">
					<%= link_to 'Edit Default Project Allocation', new_project_user_wl_project_allocation_path(project, member.user), :class => 'icon icon-edit' %>
					<%= link_to 'Add Custom Project Allocation', new_project_user_wl_custom_allocation_path(project, member.user), :class => 'icon icon-add' %>
				</td>
			</tr>

			<% total_alloc.each_with_index do |alloc, i| %>
			<% custom_alloc = WlCustomAllocation.where(user_id: member.user_id, wl_project_window_id: project.wl_project_window.id).overlaps(alloc[:start_date], alloc[:end_date]) %>

			<tr class="<%= cycle("odd", "even") %> <%= "priority-highest" unless (member.wl_project_allocation? && total_alloc[i][:percent_alloc] <= 100) %>">
			<td></td>
			<td><%= member.wl_project_allocation_between(alloc[:start_date], alloc[:end_date]) %></td>
			<td>
				<% if custom_alloc.empty? %>
					Default Project Allocation
				<% else %>
					Custom Project Allocation
				<% end %>
			</td>
			<td><%= format_date(alloc[:start_date]) %></td>
			<td><%= format_date(alloc[:end_date]) %></td>
			<td><%= total_alloc[i][:percent_alloc] %></td>
			<td>
				<% if custom_alloc.empty? %>
					<%= link_to 'Add Custom Alloc', new_project_user_wl_custom_allocation_path(project, member.user, :start_date => alloc[:start_date], :end_date => alloc[:end_date], :percent_alloc => remaining_alloc[i][:percent_alloc]), :class => 'icon icon-add' %>
				<% else %>
					<%= link_to 'Edit', edit_project_user_wl_custom_allocation_path(project, member.user, custom_alloc.first), :class => 'icon icon-edit' %> <%= link_to 'Delete', project_user_wl_custom_allocation_path(project, member.user, custom_alloc.first), method: :delete, :class => 'icon icon-del' %>
				<% end %></td>
			</tr>
			<% end %>
		<% else %>
			<tr class="<%= cycle("odd", "even") %> priority-highest">
				<td><%= member.user.name %></td>
				<td colspan="6"><%= link_to 'Define a Default Project Allocation', new_project_user_wl_project_allocation_path(project, member.user), :class => 'icon icon-add' %></td>
			</tr>

		<% end %>
		<tr><td colspan="7"></td>
	<% end %>	
	</tbody>

</table>