<table class="caption">
	<thead>
		<tr>
			<td>Caption: </td>
			<td>
				<div style="border-radius: 8px;width: 20px;height: 15px;border-color: grey;border-width: thin;border-style: inherit;;background-color: #FFEA93;"></div>
			</td><td>Total Allocation &lt;100% </td>
			<td>
				<div style="border-radius: 8px;width: 20px;height: 15px;border-color: grey;border-width: thin;border-style: inherit;;background-color: #900;"></div>
			</td><td>Total Allocation &gt;100% </td>
			<td>
				<div style="border-radius: 8px;width: 20px;height: 15px;border-color: grey;border-width: thin;border-style: inherit;;background-color: #F40;"></div>
			</td><td>Leave Overlapping with Overtime</td>
		</tr>
	</thead>
</table>

<table class="list">
	<thead>
		<tr>
			<th>User</th>
			<th>Allocation Type</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Project Allocation %</th>
			<th>Total Allocation %</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

	<% wl_members.each do |member| %>
		<% if member.wl_project_allocation? %>
			<% total_alloc = member.wl_global_table_allocation %>
			<% remaining_alloc = member.wl_remaining_table_allocation %>
			<% project_alloc = member.wl_table_allocation %>

			<tr class="<%= cycle("odd", "even") %>" style="font-weight: bold;">
				<td><%= member.user.name %></td>
				<td colspan="6">
					<% custom_link = { :start_date => nil, :end_date => nil, :percent_alloc => nil} %>
					
					<%= link_to 'Edit Default Project Allocation', new_project_user_wl_project_allocation_path(project, member.user), :class => 'icon icon-edit' %>
					<%= link_to 'Add Custom Project Allocation', new_project_user_wl_custom_allocation_path(project, member.user, :wl_custom_allocation => custom_link), :class => 'icon icon-add' %>
					<%= link_to 'Add Overtime Entry', new_project_user_wl_user_overtime_path(project, member.user), :class => 'icon icon-time-add' %>
					<%= link_to_custom_project_window(project, member.user) %>
				</td>
			</tr>

			<% total_alloc.each_with_index do |alloc, i| %>
				<% custom_alloc = WlCustomAllocation.where(user_id: member.user_id, wl_project_window_id: project.wl_project_window.id).overlaps(alloc[:start_date], alloc[:end_date]) %>

				<tr class="<%= cycle("odd", "even") %> <%= "priority-highest" if (total_alloc[i][:percent_alloc] > 100) %> <%= "allocation-below" if (total_alloc[i][:percent_alloc] < 100) %>">
				<td></td>
				<td>
					<% if custom_alloc.empty? %>
						Default Project Allocation
					<% else %>
						Custom Project Allocation
					<% end %>
				</td>
				<td><%= format_date(alloc[:start_date]) %></td>
				<td><%= format_date(alloc[:end_date]) %></td>
				
				<td><%= render_member_project_allocation(member, alloc[:start_date], alloc[:end_date]) %></td>
				<td>
					<div class="tooltip"><%= total_alloc[i][:percent_alloc] %>
		        		<span class="tip"><%= render_details_tooltip(alloc[:details], member)  %></span> 
		  		    </div>
				</td>
				<td>
					<% if custom_alloc.empty? %>
						<% custom_link = { :start_date => alloc[:start_date], :end_date => alloc[:end_date], :percent_alloc => remaining_alloc[i][:percent_alloc]} %>
						<% if total_alloc[i][:percent_alloc] > 100 %>
							<div class="tooltip">
								<%= link_to 'Smart Allocation', project_user_wl_custom_allocations_path(project, member.user,:wl_custom_allocation => custom_link), :class => 'icon icon-summary', :method => :post %>
		        				<span class="tip"><%= render_smart_allocation_tooltip(custom_link) %></span>
		  		    		</div>

		  		    	<% else %>
		  		    		<%= link_to 'Custom Project Allocation', new_project_user_wl_custom_allocation_path(project, member.user, :wl_custom_allocation => custom_link), :class => 'icon icon-add' %>

						<% end %>
					<% else %>
						<%= link_to 'Edit', edit_project_user_wl_custom_allocation_path(project, member.user, custom_alloc.first), :class => 'icon icon-edit' %> <%= link_to 'Delete', project_user_wl_custom_allocation_path(project, member.user, custom_alloc.first), method: :delete, :class => 'icon icon-del' %>
					<% end %></td>
				</tr>
			<% end %>
			<% user_overtimes = WlUserOvertime.where(user_id: member.user_id, wl_project_window_id: project.wl_project_window.id).order(:start_date) %>
			<% if user_overtimes.count > 0 %>
				<tr><td colspan="7"></td></tr>
			<% end %>
			<% user_overtimes.each_with_index do |overtime, i| %>
				<tr class="<%= cycle("odd", "even") %> <%= overtime.css_classes %>">
				<td></td>
				<td><%= render_member_overtime_allocation(overtime) %></td>
				<td><%= format_date(overtime.start_date) %></td>
				<td><%= format_date(overtime.end_date) %></td>
				<td><div class="tooltip"><%= render_member_overtime(member, overtime) %>
					<span class="tip"><%= render_member_overtime_tooltip(overtime) %></span>
		  		    </div>
		  		</td>
		  		<td>-</td>
				<td><%= link_to 'Edit', edit_project_user_wl_user_overtime_path(project, member.user, overtime), :class => 'icon icon-edit' %> <%= link_to 'Delete', project_user_wl_user_overtime_path(project, member.user, overtime), method: :delete, :class => 'icon icon-del' %></td>
				</tr>
			<% end %>
		<% else %>
			<tr class="<%= cycle("odd", "even") %> priority-highest">
				<td><%= member.user.name %></td>
				<td colspan="6"><%= link_to 'Define a Default Project Allocation', new_project_user_wl_project_allocation_path(project, member.user), :class => 'icon icon-add' %></td>
			</tr>

		<% end %>
		<tr><td colspan="7"></td></tr>
	<% end %>	
	</tbody>

</table>