<table class="list">
	<thead>
		<tr>
			<th>Project Member</th>
			<th>Region</th>
			<th>Role</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Project Allocation</th>
			<th>Total Allocation</th>
			<th>Overtime</th>
		</tr>
	</thead>
	<tbody>
		<% sum_all_members_palloc = 0 %>

		<% wl_members.each do |member| %>
			<tr style="background-color: #FFF1D3; font-weight: bold; ">
				<td><%= link_to member.user.name, User.find(member.user.id) %></td>
				<td><%= member.user.leave_preferences.region %></td>
				<td><%= member.roles.map{ |role| role.name }.sort.join(", ") %></td>
				<td colspan="5"></td>
			</tr>
			<% if member.wl_project_allocation? %>

				
				<% member_sum_project_alloc = 0 %>
				<% member_sum_total_alloc = 0 %>

				<% total_alloc = member.wl_global_table_allocation %>
				<% total_alloc.each_with_index do |alloc, i| %>
				
							<% start_date = alloc[:start_date] %>
							<% end_date = alloc[:end_date] %>

				
	 				<% member_sum_project_alloc += member.wl_sum_alloc_on_working_days(start_date, end_date) %>
					<% member_sum_total_alloc +=  alloc[:percent_alloc]* member.user.working_days_count(start_date, end_date)%>

					<% user_overtimes = WlUserOvertime.where(user_id: member.user_id, wl_project_window_id: member.project.wl_project_window.id).overlaps(alloc[:start_date], alloc[:end_date]).order(:start_date) %>
					<% unless user_overtimes.empty? %>
						<% user_overtimes.each_with_index do |overtime, index| %>
							<% unless overtime.start_date == alloc[:start_date] %>
								<% end_date = overtime.start_date-1 %>							
								
								<%= dashboard_row(member, start_date, end_date, alloc[:percent_alloc], alloc[:details]) %>
 								
								<% start_date = overtime.start_date %>
								<% end_date = overtime.end_date %>

								<%= dashboard_row(member, start_date, end_date, alloc[:percent_alloc], alloc[:details], overtime) %>
								
								<% start_date = overtime.end_date+1 %>
							<% else %>
								<% end_date = overtime.end_date %>
								
								<%= dashboard_row(member, start_date, end_date, alloc[:percent_alloc], alloc[:details], overtime) %>

								<% start_date = overtime.end_date+1 %>
							<% end %>
						<% end %>
						<% unless  start_date > alloc[:end_date] %>
								<% end_date = alloc[:end_date] %>
								<%= dashboard_row(member, start_date, end_date, alloc[:percent_alloc], alloc[:details]) %>
								<% start_date = alloc[:end_date]+1 %>
						<% end %>
					<% else %>
						<%= dashboard_row(member, start_date, end_date, alloc[:percent_alloc], alloc[:details]) %>
					<% end %>
				<% end %>

				
	 			<% pw_working_days = member.user.working_days_count(project.wl_project_window.start_date, project.wl_project_window.end_date) %>
	 			<% pw_sum_project_alloc = member_sum_project_alloc/pw_working_days %>
	 			<% pw_sum_total_alloc = member_sum_total_alloc/pw_working_days %>
				<% sum_all_members_palloc += pw_sum_project_alloc %>

				<tr style="font-weight: bold;">
					<td colspan="5"></td>
					<td>Average project allocation: <%= pw_sum_project_alloc %>%</td>
					<td>Average total allocation: <%= pw_sum_total_alloc %>%</td>
					<td></td>
				</tr>

			<% end %>
		<% end %>
	</tbody>
	<tfoot>
		<tr style="background-color: #eeeeee; font-weight: bold;"><td title="Total of project members">Total:  <% total_members = wl_members.count %><%= pluralise_member(total_members) %></td><td colspan="4" ></td><td title="Average project allocation (%)">Average project allocation: <%= sum_all_members_palloc/total_members %>% </td><td></td><td></td></tr>
  	</tfoot>
</table>