<div id="flash">
</div>

<h2>Allocation</h2>
<div class="tabular2"><%= render_wl_tabs wl_tabs %></div>

<% if params[:tab].nil? 
 tab="wldashboard"
  else
   tab = params[:tab] 
   end %>
<%= render "#{tab}_index", :project => @project, :wl_members => @wl_members %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'workload_capacity', :plugin => 'redmine_workload_capacity' %>
    <%= javascript_include_tag 'index', :plugin => "redmine_workload_capacity" %>
    <%= include_calendar_headers_tags %>
<% end %>
