<h2>Allocation</h2>
<script type="text/javascript">
   wldashboardUrl = '<%=url_for(:controller => "wl_boards", :action => "index", :tab => "wldashboard")%>';
   wlconfigureUrl = '<%=url_for(:controller => "wl_boards", :action => "index", :tab => "wlconfigure")%>'; 
   wlcheckUrl = '<%=url_for(:controller => "wl_boards", :action => "index", :tab => "wlcheck")%>'; 
</script>

<%= render_tabs index_tabs %>

<!-- <%= render 'dashboard_index', :project => @project, :wl_members => @wl_members %>-->

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'workload_capacity', :plugin => 'redmine_workload_capacity' %>
    <%= javascript_include_tag 'index', :plugin => "redmine_workload_capacity" %>
<% end %>