<% unless @project.module_enabled?(:allocation) %>
	<h3>Please enable the Allocation module first</h3>
<% else %>
	<h2>Project Windows:</h2>

	<fieldset>
	<% wl_pw = @project.wl_project_window %>
	<% if wl_pw != nil %>
		<h3>From: <%= format_date(wl_pw.start_date) %> To: <%= format_date(wl_pw.end_date) %> </h3>
		 <p>Selected Role(s) to be displayed on the Allocation Dashboard: 
		 	<%- list_id = WlProjectWindowLogic.retrieve_display_role_ids_list(@project) %>
		 	<%= list_id.map { |id| Role.find(id) }.join(", ") %></p> 
		 <p>Selected Role(s) to be displayed on the Total Allocation value's tooltip: 
		 	<%- list_id = WlProjectWindowLogic.retrieve_tooltip_role_ids_list(@project) %>
		 	<%= list_id.map { |id| Role.find(id) }.join(", ") %></p> 

		<span title="Those threshold values help to calculate the limit between the acceptable ratio (green), the warning ratio (amber), the danger ratio (red). 
If the check ratio is amber, a notification will be sent to the Project Manager and the Project Member.
If the check ratio is red or black, a notification will be sent to the Project Manager.">[LoggedTime/allocatedTime] Ratio Limits: </span>
<ul>
<span style="background-color: #f67171; color: white;">Lower threshold Red-Amber <%= wl_pw.low_danger_check_limit %>%</span> ||
 <span style="background-color: #FF9933;">Lower threshold Amber-Green <%= wl_pw.low_accept_check_limit %>%</span> ||
  <span style="background-color: #FF9933;">Upper threshold Green-Amber <%= wl_pw.high_accept_check_limit %>%</span> ||
   <span style="background-color: #CC0000; color: white;">Upper threshold Amber-Red <%= wl_pw.high_danger_check_limit %>%</span> </ul>
		

		<%= link_to 'Edit', edit_project_wl_project_window_path(@project), :class => 'icon icon-edit' %>
		<%= link_to 'Delete', project_wl_project_window_path(@project), method: :delete,  :class => 'icon icon-del' %>
	<% else %>
		<h3>No Project Windows is defined yet</h3>
		<%= link_to 'Create', new_project_wl_project_window_path(@project), :class => 'icon icon-add' %>
	<% end %>
	</fieldset>

<% end %>