<%= form_for project_window, :url => project_wl_project_windows_path do |f| %>

	<% if project_window.errors.any? %>
		<div class="flash">
			<ul>
		  		<% project_window.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		  		<% end %>
			</ul>
		</div>
	<% end %>

<p>Start: <%= f.text_field :start_date, readonly: true %><%= calendar_for('wl_project_window_start_date') %>
			End: <%= f.text_field :end_date, readonly: true %><%= calendar_for('wl_project_window_end_date') %></p>
	<%= f.submit 'Save' %>
<% end %>