<fieldset>
	<p><strong>Note:</strong> This default project allocation will be applied throughout the project window, for each time period on which the user considered does not have a custom project allocation overlapping.</p>
</fieldset>
<br />
<fieldset>
<%= form_for project_allocation,:remote => true, :method => :post, :url => project_user_wl_project_allocation_path do |f| %>

	<% if project_allocation.errors.any? %>
		<div class="flash error">
			<ul>
		  		<% project_allocation.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		  		<% end %>
			</ul>
		</div>
	<% end %>

	<%- options = (0..100).step(5).to_a %>
	<p>Project allocation: <%= f.select :percent_alloc, options %>%</p>
	<p><%= f.submit 'Save', :onclick => "hideModal(this);" %> <a href="#" onclick = "hideModal(this);"><%= l(:button_cancel) %></a></p>
<% end %>
</fieldset>