<h1>Notification for <%= @user %></h1>


<hr />

<h2>Please check the time <%= @user %> logged last week according to the effort <%= @user %> spend on the project activities <%= @project.name %></h2>

<p>The ratio LoggedTime/AllocatedTime from <%= Date.today.beginning_of_week %> to <%= Date.today.end_of_week %> is up to : <%= @ratio %> </p>
