<fieldset>
<%= form_for [project, user_overtime], :url => (user_overtime.new_record? ? project_user_wl_user_overtimes_path : project_user_wl_user_overtime_path) do |f| %>

	<% if user_overtime.errors.any? %>
		<div class="flash error">
			<ul>
		  		<% user_overtime.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		  		<% end %>
			</ul>
		</div>
	<% end %>


	<p>Start Date: <%= f.text_field :start_date %><%= calendar_for('wl_user_overtime_start_date')%> End Date: <%= f.text_field :end_date %><%= calendar_for('wl_user_overtime_end_date')%></p>
	<p>Overtime (hours): <%= f.text_field :overtime_hours %></p>
	<fieldset>
		<legend>Include:</legend>
		<p>Saturdays: <%= f.check_box :include_sat %> Sundays: <%= f.check_box :include_sun %> User Bank Holidays: <%= f.check_box :include_bank_holidays %></p>
	</fieldset>
	
	
	
	<p><%= f.submit 'Save' %> <a href="javascript:history.back()"><%= l(:button_back) %></a></p>
<% end %>
</fieldset>
<br />

<fieldset>
<legend>List of Leave Requests submitted by the user throughout the project:</legend>
	<% unless leave_list.empty? %>
		<div class="autoscroll">
			<table class="list">
				<thead>
				<tr>
				<th>Id</th>
				<th>Number of Days</th>
				<th>Leave From</th>
				<th>Leave To</th>
				<th>Reason</th>
				<th>Status</th>
				</tr>
				</thead>
				<tbody>
					<% for req in leave_list %>
						<tr class="<%= cycle("odd", "even") %> <%= req.css_classes %>">
						<td><%= req.id %></td>
						<td><%= req.actual_leave_days %></td>
						<td><%= req.from_date %></td>
						<td><%= req.to_date %></td>
						<td><%= req.issue.subject %></td>
						<td><%= req.get_status %></td>
						</tr>
					<% end -%>
				</tbody>

			</table>
		</div>
	<% else %>
		<ul>No Leave Requests were found.</ul>
	<% end %>
</fieldset>