<fieldset>
<%= form_for [project, user_overtime], :url => (user_overtime.new_record? ? project_user_wl_user_overtimes_path : project_user_wl_user_overtime_path) do |f| %>

	<% if user_overtime.errors.any? %>
		<div class="flash error">
			<ul>
		  		<% user_overtime.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		  		<% end %>
			</ul>
		</div>
	<% end %>


	<p>Start Date: <%= f.text_field :start_date %><%= calendar_for('wl_user_overtime_start_date')%> End Date: <%= f.text_field :end_date %><%= calendar_for('wl_user_overtime_end_date')%></p>
	<p>Overtime (hours): <%= f.text_field :overtime_hours %></p>
	
	<p><%= f.submit 'Save' %></p>
<% end %>
</fieldset>