<p><strong>Result for Horizontal (Category) Axis:</strong></p>

<table class="list">
<thead><tr>
	<th> Category Type </th>
	<th> Start Date </th>
	<th> End Date </th>
	<th> Granularity </th>
	<th> Action </th>
</tr></thead>
<tbody>

	<% categories_list = GrCategory.all.each do |category|%>
		<% properties = category.properties %>
		<tr>
			<td><%= category.gr_category_type %></td>
	
			<td><%= properties[:start_date] %></td>
			<td><%= properties[:end_date] %></td>
			<td><%= WlCategories.date_granularity_options.select{|k,v| v == properties[:granularity].to_i }.keys.first %></td> 
			<td>Edit/<%= link_to 'Delete',{:controller => "gr_categories", :action => "destroy", :id => category.id},
			 :class => 'icon icon-del', method: :delete %></td>
		</tr>
	<% end %>
</tbody>
</table>
