<% content_for :header_tags do %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <%= javascript_include_tag src="http://code.highcharts.com/modules/exporting.js" %>
  <%= javascript_include_tag 'gr_graphs', :plugin => "redmine_workload_capacity" %>
<% end %>


<%= render "draw_graph", :project => @project, :gr_graph => @gr_graph %>
<!-- <div id="gr<%=@gr_graph.id%>_block" class="mypage-box ui-sortable-handle">
 <div style="float:right;margin-right:16px;z-index:500;" >
    <a href="#" class="close-icon", onclick ="delete_graph_div(<%=@gr_graph.id%>);"> </a>
  </div>
<div id="gr<%=@gr_graph.id%>_container" class="handle">
 
        <%# gr_cat = GrCategory.find_by(gr_graph_id: @gr_graph.id)
          category_data = WlCategories.get_array_data(gr_cat)
          series_data = WlSeries.get_array_data(@project, gr_cat) %>
        <%#= javascript_tag do %> 
        var gr_title_json = <%=raw @gr_graph.name.to_json %>;
        var category_json = <%=raw category_data.to_json %>;
        var series_json = <%=raw series_data.to_json %>;
        draw_graph(<%=@gr_graph.id%>, gr_title_json, category_json, ' - ', series_json);
        <%# end %>

</div>
</div> -->

