<% content_for :header_tags do %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <%= javascript_include_tag src="http://code.highcharts.com/modules/exporting.js" %>
  <%= javascript_include_tag 'gr_graphs', :plugin => "redmine_workload_capacity" %>
<% end %>

<%# sortable = false %>
<%#= render "draw_graph", :project => @project, :gr_graph => @gr_graph, :sortable => false %>

 <div id="list-top">
  <% unless @blocks.nil? 
    @blocks['top'].each do |block|
      gr_grph_id = block[/\d+/].to_i
      gr_graph = GrGraph.find_by(id: gr_grph_id, project_id: @project.id) %>
      <% unless gr_graph.nil? %>

        <%= render "draw_graph", :project => @project, :gr_graph => gr_graph, :sortable => false %>
      <% end %>
   <% end %>
  <% end %>
  </div>

  <div id="list-left" class="splitcontentleft">
  <% unless @blocks.nil? 
    @blocks['left'].each do |block|
      gr_grph_id = block[/\d+/].to_i
      gr_graph = GrGraph.find_by(id: gr_grph_id, project_id: @project.id) %>
      <% unless gr_graph.nil? %>
        <%= render "draw_graph", :project => @project, :gr_graph => gr_graph, :sortable => false %>
      <% end %>
   <% end %>
  <% end %>
  </div>

  <div id="list-right" class="splitcontentright">
  <% unless @blocks.nil? 
    @blocks['right'].each do |block|
      gr_grph_id = block[/\d+/].to_i
      gr_graph = GrGraph.find_by(id: gr_grph_id, project_id: @project.id) %>
      <% unless gr_graph.nil? %>
        <%= render "draw_graph", :project => @project, :gr_graph => gr_graph, :sortable => false %>
      <% end %>
   <% end %>
  <% end %>
  </div>
