<% content_for :header_tags do %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <%= javascript_include_tag src="http://code.highcharts.com/modules/exporting.js" %>
  <%= javascript_include_tag 'gr_graphs', :plugin => "redmine_workload_capacity" %>
<% end %>

<h2>Allocation</h2>
<div class="tabular2"><%= render_wl_tabs wl_tabs %></div>
<br />
<fieldset>
  <legend>List <%= link_to 'Add graph', new_project_gr_graph_path, :class => 'icon icon-add' %></legend>
  <br />

<% graphs_list = GrGraph.where(project_id: @project.id) %>
<% unless graphs_list.blank? %>

  <table class="list">
  <thead><tr>
 <!--    <th> Id </th>
    <th> plugin reference </th> -->
    <th> Title </th>
    <th> Created_by </th>
    <!-- <th> Projet </th> -->
    <th> Action </th>
  </tr></thead>
  <tbody>
    <% graphs_list.each do |g| %>
      <tr>
<!--         <td><%#= g.id %></td>
        <td><%#= g.plugin_reference %></td> -->
        <td><%= g.name %> <%= link_to '', edit_project_gr_graph_path(:id => g.id),
         :class => 'icon icon-edit' %></td>
        <td><%= User.find(g.user_id).name %></td> 
        <!-- <td><%#= Project.find(g.project_id).name %></td>  -->
        <td><%= link_to 'Edit', set_project_gr_graphs_path(:gr_graph_id => g.id),
         :class => 'icon icon-edit' %>  <%= link_to 'Delete', project_gr_graph_path(:id => g.id),
         :class => 'icon icon-del', method: :delete %> 
       </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

 <br />

</fieldset>
<br /><br />

<fieldset>
  <legend>Dashboard <%= link_to l(:label_personalize_page),{:action => 'personalise_index'}, {:class => 'icon icon-edit'} %></legend>

<div id="gr-content"></div>
</fieldset>
 
  <%= javascript_tag do %>
    $(document).ready(function(){

      $.ajax({
      
        url: '<%=display_graph_content_path(@project) %>',
        cache: false,
        beforeSend: function(){
      
        $("#gr-content").html('<%= escape_javascript(render :partial => '/wl_commons/loading') %>');
                    },
        success: function(data){
        
          $("#gr-content").html(data);
          
        }

      });
      $('#ajax-indicator').hide();
     });
    
<% end %>
