<h2>Allocation</h2>
<div class="tabular2"><%= render_wl_tabs wl_tabs %></div>
<br />

<p><%= link_to 'Add new graph', create_graph_path(@project), :class => 'icon icon-add' %></p>
<br /><br />
  <!-- *********************************************************************************************************************** -->
<%=  quarter_list = {"Q1" => [Date.new(2015,1,1), Date.new(2015,4,1)], "Q2" => [Date.new(2015,4,1), Date.new(2015,7,1)], "Q3" => [Date.new(2015,7,1), Date.new(2015,10,1)], "Q4" => [Date.new(2015,10,1), Date.new(2015,12,31)] }
%>

<%-
result = []
quarter_list.each do |quarter| 
  count_data  =  IssueQuery.find(209).issues.map{|issue| issue.created_on.between?(quarter[1][0], quarter[1][1])}.reject{|v| v==false}.count
  result << [quarter[0], count_data] 
end
%>
<%= result %>
<div class="graph">
    <h2 align="center">Count issues created on each quarter</h2>
     <%= pie_chart result %>
</div>

  <!-- *********************************************************************************************************************** -->


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 're_graphs', :plugin => 'redmine_graphs' %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
     <%= javascript_include_tag src="/plugin_assets/redmine_workload_capacity/javascripts/jpicker-1.1.6/jpicker-1.1.6.js" %>
     <%= stylesheet_link_tag src="/plugin_assets/redmine_workload_capacity/javascripts/jpicker-1.1.6/css/jPicker-1.1.6.css"  %>
<% end %>