<% content_for :header_tags do %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <%= javascript_include_tag src="http://code.highcharts.com/modules/exporting.js" %>
  <%= javascript_include_tag 'gr_graphs', :plugin => "redmine_workload_capacity" %>
<% end %>

<h2><%=l(:label_workload)%></h2>
<div class="tabular2"><%= render_wl_tabs wl_tabs %></div>
<br />
<%= render :partial => 'table_graph', :locals => { :project => @project, :graph_list => @graph_list} %>
<br /><br />

<fieldset>
  <legend>Dashboard</legend>

  <div>
    <% unless @graph_list.blank? %>
    	<% @graph_options=[]
    	   @graph_options = @graph_list.map{|gr| [gr.name, "gr#{gr.id}_block"]} %>
      <%= form_tag({:action => "add_block"}, :id => "block-form") do %>
      <%= label_tag('block-select', "Select Your Graph") %>:
      <%= select_tag 'block', content_tag('option') + options_for_select(@graph_options), :id => "block-select" %>
      <%= link_to l(:button_add), '#', :onclick => '$("#block-form").submit()', :class => 'icon icon-add' %>
      <% end %>
    <% end %>
    <%= link_to l(:button_back), {:action => 'index'}, :class => 'icon icon-cancel' %>
  </div>

  <div id="gr-content"></div>
</fieldset>

<%= javascript_tag do %>
  $(document).ready(function(){

    $.ajax({
      url: '<%=display_dashboard_content_path(@project, :sortable => @sortable) %>',
      cache: false,
      beforeSend: function(){
        $("#gr-content").html('<%= escape_javascript(render :partial => '/wl_commons/loading') %>');
      },
      success: function(data){
        $("#gr-content").html(data);
      }
    });
    $('#ajax-indicator').hide();

  });
<% end %>

 
