<% content_for :header_tags do %>
    <%= javascript_include_tag src="/plugin_assets/redmine_workload_capacity/javascripts/jpicker-1.1.6/jpicker-1.1.6.min.js" %>
    <%= stylesheet_link_tag src="/plugin_assets/redmine_workload_capacity/javascripts/jpicker-1.1.6/css/jPicker-1.1.6.min.css"  %>
    <%= javascript_include_tag 'gr_graphs', :plugin => "redmine_workload_capacity" %>
<% end %>

<fieldset>
	<legend>New Legend Entries (Series)</legend>
	<%= form_tag(project_gr_graph_gr_series_index_path) do  %>
		<%= render :partial => 'form', :locals => {:gr_series => @gr_series} %>
		<p><%= submit_tag('Submit Series') %> <a href="javascript:history.back()" class ='icon icon-cancel'><%= l(:button_back) %></a></p>
	<% end %>
</fieldset>
