<fieldset>
<%= form_for custom_project_window, :remote => true, :url => (custom_project_window.new_record? ? project_user_wl_custom_project_windows_path : project_user_wl_custom_project_window_path) do |f| %>

	<% if custom_project_window.errors.any? %>
		<div class="flash error">
			<ul>
		  		<% custom_project_window.errors.full_messages.each do |msg| %>
		    		<li><%= msg %></li>
		  		<% end %>
			</ul>
		</div>
	<% end %>

<p>Start: <%= f.text_field :start_date %><%= calendar_for('wl_custom_project_window_start_date') %> 
			End: <%= f.text_field :end_date %><%= calendar_for('wl_custom_project_window_end_date') %></p>
	<p><%= f.submit 'Save' , :onclick => "hideModal(this);" %> <a href="#" onclick = "hideModal(this);"><%= l(:button_cancel) %></a></p>
<% end %>
</fieldset>